<nav>
    <ul>
        <a href="/">Home</a>
        <a href="/create">Create Racket</a>
        <a href="/category">Categories</a>
        <a href="/category/create">Create Category</a>
    </ul>
</nav>