<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>
    <% categories.forEach((category) => { %>
        <% if (category.category) {%>
        <div>
            <%= category.category %>
            <a href="/category/update/<%= category.category %>">Update</a>
            <a href="/category/delete/<%= category.category %>">Delete</a>
        </div>
        <% } %>
    <% }) %> 
    
</body>
</html>