<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style-create-category.css">
    <title>Create Category</title>
</head>
<body>
    <%- include("partials/nav.ejs") %>
    <%- include("partials/error.ejs") %>
    <main>
        <h1>Here you can create a category</h1>
        <p>The form is below</p>
        <form action="/create" method="post">
            <label for="name">Name: </label>
            <input type="text" name="category" id="category" required>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>