<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style-create-category.css">
    <title>Update Category</title>
</head>
<body>
    <%- include("partials/nav.ejs") %>
    <main>
        <h1>Here you can update a category</h1>
        <p>The form is below</p>
        <%- include("partials/error.ejs") %>
        <form action="/category/update/<%= category %>" method="post">
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" value="<%= category %>" required>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>